
# ignore the settings folder and files for VSCode and PSS
.vscode/*
*.psproj
*TempPoint*

# Ignore staging info from Visual Studio
library/PSJukebox/.vs/*
library/PSJukebox/PSJukebox/bin/*
library/PSJukebox/PSJukebox/obj/*

# ignore PowerShell Studio MetaData
PSJukebox/PSJukebox.psproj
PSJukebox/PSJukebox.psproj.bak
PSJukebox/PSJukebox.psprojs
PSJukebox/PSJukebox.psproj
